<main>	
<!-- ============================================================= SECTION – HERO ============================================================= -->

<section id="auditions">
	<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
		
		<div class="item index-page">
			<div class="container">
				
			</div><!-- /.container -->
		</div><!-- /.item -->
	</div><!-- /.owl-carousel -->
</section>
	
	<!-- ============================================================= SECTION – HERO : END ============================================================= -->
<!-- ============================================================= SECTION – Audition ============================================================= -->
<div class="dark-bg auditions-header">
	<h1>Auditions</h1>
</div>
<section class="light-bg">
	<div class="container inner join-us">
		<div class="row">
			<div class="col-md-8 col-sm-9 center-block text-center">
				<header>
					<h1>Want to join us?</h1>
					<p>We are always looking for musical and fun-loving members to join us! Auditions are typically held in the fall, towards the end of the semester. However, if you feel that there is a Temptasian in you that has yet to be discovered, drop us a note at duketemptasians@gmail.com!</p>
				</header>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>

<!-- ============================================================= SECTION – Audition : END ============================================================= -->
</main>
<%= javascript_include_tag 'templates/owl-carousel-script.js' %>
