<main>
	<!-- ============================================================= SECTION – HERO ============================================================= -->
	
	<section id="hero">
		<div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">
			
			<div class="item index-page">
				<div class="container">
					<div class="caption vertical-center text-center">
						<h1 class="fadeInDown-1 light-color">The Temptasians</h1><!-- /.fadeIn -->
						<p class="fadeInDown-2 medium-color"><span></span>of Duke University</h1><!-- /.fadeIn -->
					</div><!-- /.caption -->
				</div><!-- /.container -->
			</div><!-- /.item -->
		</div><!-- /.owl-carousel -->
	</section>
	
	<!-- ============================================================= SECTION – HERO : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – WHO WE ARE ============================================================= -->
	
	<section id="who-we-are">
		<div class="container inner-top inner-bottom-sm">
			
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Who we are</h1>
						<p>Founded in 2004, The Temptasians is Duke University's co-ed Asian accapella group.</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->
		
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – WHO WE ARE : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – LATEST WORKS ============================================================= -->

	<section id="latest-works" class="dark-bg">
		<div class="container inner">
			
			<div class="row description-row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Check out our latest music video!</h1>
						<p>That's Christmas to Me (Pentatonix Cover)</p>
					</header>
				</div><!-- /.col -->
			</div><!-- /.row -->
			<div class="row">
				<div class="col-sm-12">
					<div class="video-container">
						<iframe src="http://www.youtube.com/embed/xEQvW1wZhJM" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					</div>
				</div><!-- /.col -->
			</div><!-- /.row -->
			
			
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – LATEST WORKS : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – GET IN TOUCH ============================================================= -->
	
	<section id="get-in-touch" class="light-bg">
		<div class="container inner">
			<div class="row">
				<div class="col-md-8 col-sm-9 center-block text-center">
					<header>
						<h1>Want to hear us live?</h1>
						<p>We are regularly perform at dinners, fundraisers and university functions - just to name a few. To inquire further, please email us at youwanttobookus@temptasians.com or by clicking on the button below.</p>
					</header>
					<a href="mailto:youwanttobookus@winning.com?subject=Booking Inquiry" class="btn btn-large">Get in touch</a>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section>
	
	<!-- ============================================================= SECTION – GET IN TOUCH : END ============================================================= -->

	
			
	
</main>

<!-- ============================================================= MAIN : END ============================================================= -->

  <%= javascript_include_tag 'templates/owl-carousel-script.js' %>
