#auditions {
	.owl-carousel {
		.item.index-page {
			background-image: image-url("audition/fun_pic.jpg");
		}
	}
}

.auditions-header {
	padding: 20px;
	margin-bottom: none;
	text-align: center;
	h1 {
		margin-bottom: 0px;
	}
}

.join-us {
	padding-top: 80px;
}