#hero {
	.owl-carousel {
		.item.index-page {
			background-image: image-url("index/slider01.jpg");
		}
	}
}

#latest-works {
	.container.inner {
		.description-row {
			padding-bottom: 80px;
		}
	}
}

.item-1 {
	background-image: image-url("about/slider01.jpg");
}

.item-2 {
	background-image: image-url("about/slider02.jpg");
}

.item-3 {
	background-image: image-url("about/slider04.jpg");
}

.item-4 {
	background-image: image-url("about/slider03.jpg");
}

.item-5 {
	background-image: image-url("about/slider05.jpg");
}