<!-- ============================================================= SECTION – SHARE ============================================================= -->
	
<section id="share" class="dark-bg">
	<div class="row">
		
		<div class="col-sm-4 reset-padding-right">
			<a href="https://www.facebook.com/duketazns" class="btn-share-md" target="_blank">
				<i class="icon-s-facebook"></i>
				<i class="ion-social-facebook"></i>
			</a>
		</div><!-- /.col -->
		
		<div class="col-sm-4 reset-padding">
			<a href="#" class="btn-share-md">
				<i class="icon-s-twitter"></i>
				<i class="ion-social-twitter"></i>
			</a>
		</div><!-- /.col -->
		
		<div class="col-sm-4 reset-padding-left">
			<a href="https://www.youtube.com/channel/UCc8zO5JFsL8R_JhCejQCEzg" target="_blank" class="btn-share-md">
				<i class="icon-s-gplus"></i>
				<i class="ion-social-youtube"></i>
			</a>
		</div><!-- /.col -->
		
	</div><!-- /.row -->
</section>

<!-- ============================================================= SECTION – SHARE : END ============================================================= -->

<!-- ============================================================= FOOTER ============================================================= -->
		
<footer class="light-bg">
	<div class="container inner">
		<div class="row">
			
			<div class="col-md-6 col-sm-6 inner">
				<h4>Who we are</h4>
				<a href="/"><%= image_tag("logo.png", class: "logo img-intext") %>
				<p>We are some people who sing</p>
				<a href="/about" class="txt-btn">More about us</a>
			</div><!-- /.col -->
			
			
			<div class="col-md-6 col-sm-6 inner">
				<h4>Get In Touch</h4>
				<p>We are available for bookings!</p>
				<ul class="contacts">
					<li><i class="ion-location contact"></i>Durham, NC 20078</li>
					<li><a href="#"><i class="ion-email contact"></i> someemail@email.com</a></li>
				</ul><!-- /.contacts -->
			</div><!-- /.col -->
			
		</div><!-- /.row --> 
	</div><!-- .container -->
  
	<div class="footer-bottom">
		<div class="container inner">
			<p class="pull-left">Created by U-jo</p>
			<ul class="footer-menu pull-right">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About us</a></li>
				<li><a href="/media">Media</a></li>
			</ul><!-- .footer-menu -->
		</div><!-- .container -->
	</div><!-- .footer-bottom -->
</footer>

<!-- ============================================================= FOOTER : END ============================================================= -->