<section id="portfolio-post">
	<div class="container inner-top-xs inner-bottom">
		
		<div class="row">
			<div class="col-sm-12">
				<div class="video-container">
					<iframe src="http://www.youtube.com/embed/<%= path %>" width="1170" height="658" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			</div><!-- /.col -->
		</div><!-- /.row -->
		
	</div><!-- /.container -->
	
</section>
	